<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/7.3.0/adapter.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="js/kurento-utils.min.js"></script>
        <script src="js/index.js"></script>
        <title>KMS: Live Video with WebRTC</title>
    </head>
</head>
<body>

<div>
    <button id="play" onclick="startViewing()" disabled>Play</button>
</div>
<div>
    <video id="video" autoplay controls width="640px" height="480px" poster="img/webrtc.png"></video>
</div>

<input id="metricsServerUrl" type="hidden" th:value="${metricsServerUrl}">
<input id="playerId" type="hidden" th:value="${playerId}">
</body>
</html>